@using Microsoft.AspNetCore.Identity

@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{
    <li class="nav-item dropdown">
        <span class="nav-link text-dark dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"
              id="dropdownAccount">@User.FindFirst(x => x.Type == "preferred_username").Value
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownAccount">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="SignOut">SignOut</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Account" asp-action="SignIn"
           class="nav-link text-dark">Login</a>
    </li>
}
