@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookcase</h1>
    <p>This is a pet project to practice building .NET Core application
    based on a simplified microservices architecture and Docker containers.</p>
    <p>The application provides books/authors catalog, and service to create
    your own book collections called shelves.</p>
    <h3>Architecture overview</h3>
</div>
