@model WebMVC.Areas.Catalog.ViewModels.PaginationInfo
<div>
    <nav>
        @if (Model.IsPreviousPageExist)
        {
            <a asp-controller="Authors" asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage - 1)">
                Previous</a>
        }
    <span>
        Showing @Model.CurrentPage of total @Model.TotalPages pages.
    </span>
        @if (Model.IsNextPageExist)
        {
            <a asp-controller="Authors" asp-action="Index" asp-route-pageIndex="@(Model.CurrentPage + 1)">
                Next
            </a>
        }
    </nav>
</div>